In [2]:
import sys
import numpy as np
import pandas as pd

In [14]:
#Получить от объекта Series показатели описательной статистики
ser = pd.Series([1,4,8,16,32,32,32,8])
ser.describe()

count     8.000000
mean     16.625000
std      13.426387
min       1.000000
25%       7.000000
50%      12.000000
75%      32.000000
max      32.000000
dtype: float64

In [15]:
#Узнать частоту уникальных элементов объекта Series
ans = ser.value_counts()
print(ans)

32    3
8     2
4     1
16    1
1     1
dtype: int64

In [16]:
#Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
print(ser)

0    Other
1    Other
2        8
3    Other
4       32
5       32
6       32
7        8
dtype: object

In [27]:
#Создать объект Series в индексах дата каждый день 2019 года,
#в значениях случайное значение

dt = pd.date_range(start='2018-01-01', end='2018-12-31', freq='D') 
s = pd.Series(np.random.randint(100, size=len(dt)), index=dt)
s.head()

2018-01-01    17
2018-01-02    35
2018-01-03    24
2018-01-04    56
2018-01-05    74
Freq: D, dtype: int32

In [28]:
#Найти сумму всех вторников
s[s.index.weekday == 2].sum()

2611

In [29]:
#Для каждого месяца найти среднее значение
s.resample('M').mean()

2018-01-31    45.032258
2018-02-28    50.928571
2018-03-31    43.322581
2018-04-30    40.700000
2018-05-31    52.225806
2018-06-30    47.533333
2018-07-31    61.129032
2018-08-31    45.290323
2018-09-30    51.466667
2018-10-31    41.967742
2018-11-30    53.300000
2018-12-31    48.258065
Freq: M, dtype: float64

In [30]:
#Преобразовать объект Series в DataFrame заданной формы (shape)
m = 10
n = 10
s = pd.Series(np.random.randint(1, 10, size=[n*m]))

df = pd.DataFrame(s.values.reshape((m,n)))
df

   0  1  2  3  4  5  6  7  8  9
0  8  6  8  6  5  7  9  4  1  5
1  8  4  9  3  7  6  3  5  9  8
2  9  6  4  5  9  4  3  8  7  7
3  3  4  9  3  1  7  2  4  3  5
4  2  4  2  8  6  5  6  3  2  7
5  4  1  2  5  4  3  2  8  8  4
6  3  2  8  6  5  6  7  9  7  9
7  5  5  2  2  8  7  6  4  2  4
8  7  1  9  5  7  7  1  6  5  5
9  8  8  8  2  4  8  2  2  5  2

In [31]:
#Найти индексы объекта Series кратные 3
s[s % 3 == 0].index

Int64Index([ 1,  3,  6, 12, 13, 15, 16, 18, 20, 21, 24, 26, 30, 32, 33, 38, 44,
            46, 47, 55, 60, 63, 65, 67, 69, 76, 82, 87],
           dtype='int64')

In [32]:
#Получить данные по индексам объекта Series
ind = [0,5,10,15]
print(s[ind])

0     8
5     7
10    8
15    6
dtype: int32

In [33]:
#Объединить два объекта Series вертикально и горизонтально
s1 = pd.Series(range(5))
s2 = pd.Series(list('abcde'))

print(s1.append(s2))

print(pd.concat([s1, s2], axis=1))

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [38]:
#Получить индексы объекта Series A, данные которых содержатся в объетке Series B
s1 = pd.Series(range(10))
s2 = pd.Series([1, 3, 7, 9])

np.asarray([np.where(i == s1)[0].tolist()[0] for i in s2])

array([1, 3, 7, 9])

In [40]:
#Получить объект Series B, который содержит элементы без повторений объекта A
s = pd.Series(np.random.randint(low=1, high=10, size=[100]))
pd.Series(s.unique())

0    6
1    2
2    5
3    1
4    3
5    7
6    8
7    4
8    9
dtype: int32

In [47]:
#Преобразовать каждый символ объекта Series в верхний регистр
s = pd.Series(['s','f','h','g','a'])

s.map(lambda x: x.title())

0    S
1    F
2    H
3    G
4    A
dtype: object

In [50]:
#преобразовать данных Series в строку
''.join(s)

'sfhga'

In [52]:
#Рассчитать количество символов в объекте Series
s = pd.Series(['one', 'two', 'three', 'four', 'five'])

s = pd.Series(str(i) for i in s)

ans = np.asarray(s.map(lambda x: len(x)))

print(ans)

[3 3 5 4 4]

In [53]:
#Найти разность между объектом Series и смещением объекта Series на n
n = 1
s = pd.Series([1, 5, 7, 8, 12, 15, 17])

s.diff(periods=n)

0    NaN
1    4.0
2    2.0
3    1.0
4    4.0
5    3.0
6    2.0
dtype: float64

In [54]:
#Преобразовать разыне форматы строк объекта Series в дату
s = pd.Series(['2020/01/01', '2017-01-01', '1 Jan 2019'])

pd.to_datetime(s)

0   2020-01-01
1   2017-01-01
2   2019-01-01
dtype: datetime64[ns]

In [55]:
#все данные должны иметь одинаковый формат (часто бывает выгрузка из SQL)
#преобразовать в дату
s = pd.Series(['14.02.2019', '22.01.2019', '01.03.2019'])

pd.to_datetime(s, format='%d.%m.%Y')

0   2019-02-14
1   2019-01-22
2   2019-03-01
dtype: datetime64[ns]

In [56]:
from dateutil.parser import parse
s = pd.Series(['01 Jan 2018', '02-02-2011', '20120303', '2013/04/04', '2018-12-31'])

# парсим в дату и время
s_ts = s.map(lambda x: parse(x, yearfirst=True))


# получаем года
print(s_ts.dt.year)

# получаем месяца
print(s_ts.dt.month)

# получаем дни
print(s_ts.dt.day)

# получаем номер недели
print(s_ts.dt.weekofyear)

# получаем номер дня в году
print(s_ts.dt.dayofyear)

0    2018
1    2011
2    2012
3    2013
4    2018
dtype: int64
0     1
1     2
2     3
3     4
4    12
dtype: int64
0     1
1     2
2     3
3     4
4    31
dtype: int64
0     1
1     5
2     9
3    14
4     1
dtype: int64
0      1
1     33
2     63
3     94
4    365
dtype: int64

In [57]:
#Отобрать элементы объекта Series, кторые содержат не менее двух гласных
from collections import Counter
s = pd.Series(['Яблоко', 'Orange', 'Plan', 'Python', 'Апельсин', 'Стол', 'Reliance'])

mask = s.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiouаоиеёэыуюя')]) >= 2)

ans = s[mask]
print(ans)

0      Яблоко
1      Orange
4    Апельсин
6    Reliance
dtype: object

In [16]:
#Отобрать e-маилы из объекта Series (можно юзать регулярки)
import re


emails = pd.Series(['test+-@test%.com', 'te%st@mail.ru', 'test.2ru', 'test@pp'])

pattern = '[\w._%+-]+@\w+\.[A-Za-z]{2,4}'

mask = emails.map(lambda x: bool(re.match(pattern, x)))

ans = emails[mask]

print(ans)

1    te%st@mail.ru
dtype: object